.filter-buttons {
    padding:0;
    [class*="col-"] {
        @media(min-width: 992px){
        max-width: 173px;
        }
        @media(max-width: 992px){
            flex: 0 0 50%;
            max-width: 50%;
        }
        @media(max-width: 599px){
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .brand-filter {
        button {
            min-width: 100%;;
            transition: all 0.3s ease-in-out;
            background: none;
            border:0;
            font-weight: 500;
            color:$telstraBlue;
            font-weight:700;
        }
        .hr-hover-effect {
            width: 0;
            display: block;
            margin:0 auto;
            transition: all 0.3s ease-in-out;
        }
        &:hover {
           button{ color:$telstraBlueHover;}
           .hr-hover-effect {width:50%;}
        }
        &.active {
            button{ color:$telstraBlueHover;}
            .hr-hover-effect {width:50%;}
        }
    }
}
