    /* Variables */
    
    $telstraBlue: #1964c8;
    $telstraBlueHover: #00aaf3;
    $danger: #ff0000;
    $cartWidth: 200px;
    $fullWidth:100%;

@import "../../node_modules/bootstrap-scss/bootstrap.scss";
@import "./header.scss";
@import "./cart.scss";
@import "./products.scss";
@import "./filter.scss";

    /* Styles */
    
    body {
        font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 1.4em;
        color: #4d4d4d;
        min-width: 320px;
        max-width: 100%;
        margin: 0 auto;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        font-smoothing: antialiased;
        font-weight: 300;
    }
    
    h2 {
        color: $primary;
        &.no-products {
            color:#a0afb6;
            margin: 20px auto;
            text-align: center;
            @media(max-width: 767px){
                font-size:18px;
            }
        }
    }
    
    .wrapper {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 90%;
        @media(max-width: 767px) {
            max-width: 100%;
            overflow-x: hidden;
            min-height: 100vh;
        }
    }
    
    section {
        display: inline-block;
        &.product-list, &.filter-buttons {
            width: calc(100% - #{$cartWidth});
        }
        &.shopping-cart {
            width: $cartWidth;
        }
        @media(max-width: 992px) {
            &.product-list,
            &.filter-buttons,
            &.shopping-cart {
                width: 100%;
            }
        }
    }