/* Variables */

$primary: #5bb7db;
$danger: #ff0000;
$cartWidth: 200px;
$fullWidth:100%;

/* Styles */

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #4d4d4d;
    min-width: 320px;
    max-width: 100%;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

h2 {
    color: $primary;
}
.wrapper {position:relative;}
section {
    display: inline-block;
    position: relative;
    &.product-list {
        width: calc(100% - #{$cartWidth});
    }
    &.shopping-cart {
        width: $cartWidth;
    }
    @media(max-width: 576px){
        &.product-list, &.shopping-cart {width:100%;}
        &.shopping-cart {
            position: fixed;
            top: 10px;
            transform: translateX(-14%);
            background:#fff;
            transition: all 0.3s ease-in-out;
            &.shown {
                transform: translateX(-100%);
            }
        }
    }
}

.col-product {
    border-radius: 0.8rem;
    margin: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    img {
        display: block;
        margin: 0 auto;
    }
    h5 {
        margin: 25px auto;
    }
    p {
        font-size: 20px;
        font-weight: 700;
        margin: 20px auto;
    }
    @media (min-width: 768px){
        &.col-md-4 {
            -ms-flex: 0 0 31.333333%;
            flex: 0 0 31.333333%;
            max-width: 31.333333%;
        }
    }
    @media (min-width: 768px){
        &.col-md-3 {
            -ms-flex: 0 0 23%;
            flex: 0 0 23%;
            max-width: 23%;
        }
    }
}

button.add-to-cart {
    background-color: #1964c8;
    transition: all 0.3s ease-in-out;
    display: block;
    margin: 20px auto;
    color: #fff;
    &:hover {
        background: #00aaf3;
    }
    .fa-cart-plus {
        margin-right: 5px;
    }
}


.shopping-cart {
    .cart-item {padding:10px;position: relative;}
    col {text-align: center;}
    img {max-width:20%; display: inline-block;}
    h5 {
        display: inline-block;
        max-width: 65%;
        vertical-align: middle;
        font-size: 0.9rem;
        margin-left: 5px;
    }
    .fa-minus-circle {
           color: #ff5200;
           cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 20px;
        position: absolute;
        right:5px;
        top:36%;
        transform: rotateY(-50%);
        &:hover {
            color: red;
        }
    }
}
